<form class="flex flex-col gap-2" [formGroup]="form" (submit)="onSubmit()">
  <div class="flex items-center gap-2 text-blue-700 bg-blue-100 p-2 mb-2">
    <mat-icon class="">info</mat-icon>
    <p class="w-full">
      Introduzca su cédula para enviarle un correo con la contraseña de
      recuperación.
    </p>
  </div>

  <mat-form-field appearance="outline" color="primary">
    <mat-label>Cédula</mat-label>
    <input
      matInput
      type="text"
      required
      placeholder="Introduzca su cédula"
      formControlName="ci"
    />
    @if (form.get('ci')?.dirty && form.get('ci')?.invalid) {
    <mat-error>{{ getErrorMessage("ci", form) }}</mat-error>
    }
  </mat-form-field>
  <a class="ml-auto mb-2 text-blue-700 underline" routerLink="/auth/login"
    >Ya recordé mi contraseña</a
  >
  <button mat-flat-button type="submit" class="rounded">
    Enviar contraseña de recupperación
  </button>
  <div class="flex items-center gap-2 text-amber-700 bg-amber-100 p-2 mb-2">
    <mat-icon class="">warning</mat-icon>
    <p class="w-full">
      En caso de no poder restablecer su contraseña, por favor, póngase en
      contacto con el administrador.
    </p>
  </div>
</form>
