<esp-form-container
  [options]="options"
  (onSave)="save($event)"
  [patchData]="dataToPatch"
>
  <ng-template #indication>
    <ul class="text-gray-100 text-sm m-0 pl-3">
      <li>
        Los campos marcados con
        <strong class="text-yellow-200">* son obligatorios.</strong>
      </li>
      <li>
        La contraseña debe tener
        <strong class="text-yellow-200">entre 6 a 20 dígitos.</strong>
      </li>
      <li>
        La contraseña debe coincidir con
        <strong class="text-yellow-200">la confirmación de contraseña.</strong>
      </li>
    </ul>
  </ng-template>
</esp-form-container>
