<section class="mb-5">
  <p-messages closable="false" [(value)]="messages" enableService="false" />
</section>
<form [formGroup]="form" (submit)="onSubmit()">
  <p-floatLabel>
    <input
      pInputText
      type="text"
      id="ci"
      formControlName="ci"
      class="w-full"
      placeholder="Introduzca su cédula"
    />
    <label>Cédula</label>
  </p-floatLabel>
  @if (form.get('ci')?.invalid && form.get('ci')?.dirty) {
  <esp-input-error-message
    @slideVertical
    [message]="getErrorMessage('ci', form)"
  ></esp-input-error-message>
  }
  <p-button
    type="submit"
    label="Enviar contraseña de recuperación"
    styleClass="w-full mt-5"
    icon="pi pi-key"
  />
</form>
<section class="text-center mt-4">
  <a routerLink="/auth/login" class="text-right">Ya recordé mi contraseña</a>
</section>
