/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@use "@angular/material" as mat;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Oxygen";
  src: url("/assets/font/Oxygen-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oxygen";
  src: url("/assets/font/Oxygen-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Oxygen";
  src: url("/assets/font/Oxygen-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/font/Pacifico-Regular.ttf");
  font-weight: 400;
}

* {
  @include mat.form-field-density(-5);
  @include mat.button-density(0);
  @include mat.list-density(-3);
  @include mat.table-density(-3);
  box-sizing: border-box;
}
*,
::before,
::after {
  border-style: none;
}

html {
  min-height: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  --mdc-outlined-text-field-outline-color: #a1a1aa !important;
  --mdc-outlined-text-field-hover-outline-color: #71717a !important;
  margin: 0;
  font-family: "Oxygen" !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 0.875rem !important;
    font-weight: normal !important;
  }

  input,
  textarea,
  label {
    font-size: 0.875rem /* 14px */ !important;
    line-height: 1.25rem /* 20px */ !important;
  }

  table {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity)) !important;

    thead {
      background: #27272a !important;
      position: sticky !important;
      top: 0 !important;
      z-index: 1000;
      th {
        font-weight: bold !important;
        color: #fafafa !important;
        font-family: "Oxygen" !important;
      }
    }
  }
  button,
  .mdc-button {
    border-radius: 0.25rem /* 4px */;
    span {
      font-weight: bold;
      font-family: "Oxygen" !important;
    }
  }
  .mat-mdc-dialog-surface {
    border-radius: 0.5rem !important;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .mat-mdc-icon-button {
    border-radius: 9999px !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #cecece;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #67e8f9, #5c6ac4);
}
